{
  "openapi": "3.0.3",
  "info": {
    "title": "API Externa - Third Party Analysis",
    "description": "API para gerenciamento de análises de terceiros (Due Diligence). Esta documentação contém apenas os endpoints disponíveis para integração externa.",
    "version": "1.0.0",
    "contact": {
      "name": "Be Compliance",
      "email": "suporte@becompliance.com"
    }
  },
  "servers": [
    {
      "url": "https://api.becompliance.com/ext/v1/{app_key}",
      "description": "Servidor de Produção",
      "variables": {
        "app_key": {
          "description": "app_key da empresa"
        }
      }
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/third-party-analysis": {
      "get": {
        "tags": ["Third Party Analysis"],
        "summary": "Listar análises de terceiros",
        "description": "Retorna uma lista paginada de análises de terceiros (diligências) da empresa.",
        "operationId": "listThirdPartyAnalysis",
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "description": "Número de itens por página (máximo 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 15,
              "maximum": 100
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Número da página",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "archived",
            "in": "query",
            "description": "Filtrar por status de arquivamento. Se não informado, retorna apenas não arquivadas.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["yes", "no"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de análises retornada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThirdPartyAnalysisPaginatedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Sem permissão para listar análises",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Third Party Analysis"],
        "summary": "Criar nova análise de terceiro",
        "description": "Cria uma nova análise de terceiro (diligência) e inicia o processo de consultas automatizadas.",
        "operationId": "createThirdPartyAnalysis",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateThirdPartyAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Análise criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThirdPartyAnalysisResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/third-party-analysis/{code}": {
      "get": {
        "tags": ["Third Party Analysis"],
        "summary": "Obter detalhes de uma análise",
        "description": "Retorna os detalhes de uma análise de terceiro específica pelo código.",
        "operationId": "getThirdPartyAnalysis",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "Código único da análise (formato: ddmmyyyyID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "010120241234"
          },
          {
            "name": "queries",
            "in": "query",
            "description": "Se 'true', retorna também os resultados das consultas realizadas",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["true", "false"],
              "default": "false"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes da análise retornados com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThirdPartyAnalysisDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Sem permissão para visualizar a análise",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Análise não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Third Party Analysis"],
        "summary": "Atualizar análise de terceiro",
        "description": "Atualiza os dados de uma análise de terceiro existente.",
        "operationId": "updateThirdPartyAnalysis",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "Código único da análise (formato: ddmmyyyyID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "010120241234"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateThirdPartyAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Análise atualizada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThirdPartyAnalysisResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Sem permissão para editar a análise",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Análise não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Erro de validação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Token JWT obtido através do endpoint de autenticação"
      }
    },
    "schemas": {
      "CreateThirdPartyAnalysisRequest": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Nome da empresa ou pessoa a ser analisada",
            "example": "Empresa Exemplo LTDA"
          },
          "cnpj": {
            "type": "string",
            "description": "CNPJ da empresa (obrigatório se is_international for false)",
            "example": "12.345.678/0001-90"
          },
          "is_international": {
            "type": "boolean",
            "description": "Indica se é uma análise internacional (sem CNPJ)",
            "default": false
          },
          "alternative_names": {
            "type": "array",
            "description": "Nomes alternativos relacionados (máximo 3)",
            "maxItems": 3,
            "items": {
              "type": "string"
            },
            "example": ["Nome Fantasia", "Razão Social Anterior"]
          },
          "type": {
            "type": "string",
            "description": "Tipo de contrato (deve existir nos tipos cadastrados da empresa)",
            "example": "Fornecedor"
          },
          "tags": {
            "type": "array",
            "description": "Tags para categorização da análise",
            "items": {
              "type": "string"
            },
            "example": ["alta-prioridade", "fornecedor-crítico"]
          },
          "solicitation_areas": {
            "type": "array",
            "description": "Áreas solicitantes da análise",
            "items": {
              "type": "string"
            },
            "example": ["Compras", "Jurídico"]
          },
          "expiry_date": {
            "type": "string",
            "format": "date",
            "description": "Data de expiração da análise (deve ser posterior à data atual)",
            "example": "2025-12-31"
          },
          "analysis_deadline": {
            "type": "string",
            "format": "date",
            "description": "Prazo para conclusão da análise",
            "example": "2025-06-30"
          },
          "rerun_when_expired": {
            "type": "boolean",
            "description": "Reexecutar automaticamente quando expirar",
            "default": false
          },
          "notify_requester_only": {
            "type": "boolean",
            "description": "Notificar apenas o solicitante",
            "default": false
          },
          "search_serasa": {
            "type": "string",
            "description": "Tipo de consulta Serasa (requer habilitação)",
            "enum": ["basic_pj", "advanced_pj"]
          },
          "search_courts_of_justice": {
            "type": "boolean",
            "description": "Realizar consulta em tribunais de justiça",
            "default": false
          },
          "solicitation_user_email": {
            "type": "string",
            "format": "email",
            "description": "Email do usuário solicitante (deve ser usuário ativo da empresa)",
            "example": "usuario@empresa.com"
          },
          "search_international": {
            "type": "boolean",
            "description": "Realizar busca internacional (requer FTM habilitado)",
            "default": false
          },
          "viewers": {
            "$ref": "#/components/schemas/ResponsiblesObject"
          },
          "owners": {
            "$ref": "#/components/schemas/ResponsiblesObject"
          },
          "is_viewable": {
            "type": "boolean",
            "description": "Análise visível para outros usuários",
            "default": false
          },
          "action_plans": {
            "type": "array",
            "description": "Planos de ação associados",
            "items": {
              "type": "string"
            }
          },
          "search_google_parameters": {
            "type": "object",
            "description": "Parâmetros para busca no Google",
            "properties": {
              "sites": {
                "type": "array",
                "description": "Sites específicos para busca",
                "items": {
                  "type": "string"
                },
                "example": ["gov.br", "jusbrasil.com.br"]
              }
            }
          },
          "solicitation_area_detail": {
            "type": "string",
            "description": "Detalhes adicionais da área solicitante"
          }
        }
      },
      "UpdateThirdPartyAnalysisRequest": {
        "type": "object",
        "required": ["status"],
        "properties": {
          "status": {
            "type": "string",
            "description": "Status da análise",
            "enum": ["open", "analyze", "approved", "rejected"],
            "example": "approved"
          },
          "risk": {
            "type": "string",
            "description": "Classificação de risco",
            "enum": ["very_low", "low", "medium", "high", "very_high"],
            "example": "low"
          },
          "expiry_date": {
            "type": "string",
            "format": "date",
            "description": "Data de expiração da análise",
            "example": "2025-12-31"
          },
          "tags": {
            "type": "array",
            "description": "Tags para categorização",
            "items": {
              "type": "string"
            }
          },
          "solicitation_areas": {
            "type": "array",
            "description": "Áreas solicitantes",
            "items": {
              "type": "string"
            }
          },
          "rerun_when_expired": {
            "type": "boolean",
            "description": "Reexecutar automaticamente quando expirar"
          },
          "viewers": {
            "$ref": "#/components/schemas/ResponsiblesObject"
          },
          "owners": {
            "$ref": "#/components/schemas/ResponsiblesObject"
          },
          "is_viewable": {
            "type": "boolean",
            "description": "Análise visível para outros usuários"
          },
          "action_plans": {
            "type": "array",
            "description": "Planos de ação associados",
            "items": {
              "type": "string"
            }
          },
          "notify_requester_only": {
            "type": "boolean",
            "description": "Notificar apenas o solicitante"
          },
          "solicitation_area_detail": {
            "type": "string",
            "description": "Detalhes adicionais da área solicitante"
          }
        }
      },
      "ResponsiblesObject": {
        "type": "object",
        "description": "Objeto de responsáveis (proprietários ou visualizadores)",
        "properties": {
          "groups": {
            "type": "array",
            "description": "Nomes dos grupos",
            "items": {
              "type": "string"
            },
            "example": ["Compliance", "Jurídico"]
          },
          "roles": {
            "type": "array",
            "description": "Nomes dos perfis/roles",
            "items": {
              "type": "string"
            },
            "example": ["compliance", "due_diligence"]
          },
          "ad_mapping_groups": {
            "type": "array",
            "description": "Nomes dos grupos de AD Mapping",
            "items": {
              "type": "string"
            }
          },
          "users": {
            "type": "array",
            "description": "Emails dos usuários",
            "items": {
              "type": "string",
              "format": "email"
            },
            "example": ["usuario1@empresa.com", "usuario2@empresa.com"]
          }
        }
      },
      "ThirdPartyAnalysisResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ThirdPartyAnalysis"
          }
        }
      },
      "ThirdPartyAnalysisDetailResponse": {
        "type": "object",
        "properties": {
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ThirdPartyAnalysis"
              },
              {
                "type": "object",
                "properties": {
                  "queries": {
                    "$ref": "#/components/schemas/ThirdPartyAnalysisQueries"
                  }
                }
              }
            ]
          }
        }
      },
      "ThirdPartyAnalysisPaginatedResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ThirdPartyAnalysis"
            }
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "ThirdPartyAnalysis": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Código único da análise (formato: ddmmyyyyID)",
            "example": "010120241234"
          },
          "name": {
            "type": "string",
            "description": "Nome da empresa/pessoa analisada",
            "example": "Empresa Exemplo LTDA"
          },
          "cnpj": {
            "type": "string",
            "description": "CNPJ da empresa (null para análises internacionais)",
            "example": "12345678000190"
          },
          "process_status": {
            "type": "string",
            "description": "Status do processamento das consultas",
            "enum": ["open", "finished", "error", "waiting_approval", "reproved", "finished_consults"],
            "example": "finished"
          },
          "status": {
            "type": "string",
            "description": "Status da análise definido pelo usuário",
            "enum": ["open", "analyze", "approved", "rejected"],
            "example": "approved"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Data de criação",
            "example": "2024-01-15 10:30:00"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Data da última atualização",
            "example": "2024-01-20 14:45:00"
          },
          "risk": {
            "type": "string",
            "nullable": true,
            "description": "Classificação de risco atribuída",
            "enum": ["very_low", "low", "medium", "high", "very_high", null],
            "example": "low"
          },
          "automatic_risk": {
            "type": "string",
            "nullable": true,
            "description": "Risco calculado automaticamente pelo sistema"
          },
          "expiry_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Data de expiração da análise",
            "example": "2025-12-31"
          },
          "archived": {
            "type": "string",
            "description": "Status de arquivamento",
            "enum": ["yes", "no"],
            "example": "no"
          },
          "notes": {
            "type": "array",
            "description": "Notas/observações da análise",
            "items": {
              "$ref": "#/components/schemas/ThirdPartyAnalysisNote"
            }
          },
          "report_pdf": {
            "type": "string",
            "nullable": true,
            "description": "URL do relatório PDF gerado",
            "example": "https://storage.becompliance.com/reports/analysis_123.pdf"
          },
          "type": {
            "type": "string",
            "nullable": true,
            "description": "Tipo de contrato",
            "example": "Fornecedor"
          },
          "beforms_integration_tokens": {
            "type": "array",
            "nullable": true,
            "description": "Tokens de integração com BeForms"
          },
          "solicitation_approver_comment": {
            "type": "string",
            "nullable": true,
            "description": "Comentário do aprovador da solicitação"
          }
        }
      },
      "ThirdPartyAnalysisNote": {
        "type": "object",
        "properties": {
          "note": {
            "type": "string",
            "description": "Conteúdo da nota",
            "example": "Análise concluída sem pendências."
          },
          "user": {
            "type": "object",
            "nullable": true,
            "description": "Usuário que criou a nota",
            "properties": {
              "name": {
                "type": "string",
                "example": "João Silva"
              },
              "email": {
                "type": "string",
                "format": "email",
                "example": "joao.silva@empresa.com"
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2024-01-15 10:30:00"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2024-01-15 10:30:00"
          },
          "is_public": {
            "type": "string",
            "description": "Se a nota é pública",
            "enum": ["yes", "no"]
          },
          "is_system": {
            "type": "string",
            "description": "Se a nota foi gerada pelo sistema",
            "enum": ["yes", "no"]
          }
        }
      },
      "ThirdPartyAnalysisQueries": {
        "type": "object",
        "description": "Resultados das consultas realizadas (retornado apenas quando queries=true)",
        "properties": {
          "receita_federal": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "trabalho_escravo": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "cnep": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "csnu": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "pgfn": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "ieptb": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "ceis": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "cepim": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "pep_onu": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "pep_mp": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "pep_rf": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "google": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "chatgpt": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "ofac": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "leniencia": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "mte_processos": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "cndt": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "cnj_improbidade": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "trf1": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "trf2": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "trf3": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "trf4": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "trf5": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "trf6": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "interpol": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "serasa": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "judit": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "government_debts": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "company_datasets": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "fgts_certificate": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "pep_secondary": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "ibama_embargos": {
            "$ref": "#/components/schemas/QueryResult"
          }
        }
      },
      "QueryResult": {
        "type": "object",
        "nullable": true,
        "description": "Resultado de uma consulta específica",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status da consulta"
          },
          "data": {
            "type": "object",
            "description": "Dados retornados pela consulta"
          },
          "consulted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Data/hora da consulta"
          }
        }
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "first": {
            "type": "string",
            "example": "https://api.becompliance.com/ext/v1/{app_key}/third-party-analysis?page=1"
          },
          "last": {
            "type": "string",
            "example": "https://api.becompliance.com/ext/v1/{app_key}/third-party-analysis?page=10"
          },
          "prev": {
            "type": "string",
            "nullable": true
          },
          "next": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "current_page": {
            "type": "integer",
            "example": 1
          },
          "from": {
            "type": "integer",
            "example": 1
          },
          "last_page": {
            "type": "integer",
            "example": 10
          },
          "path": {
            "type": "string",
            "example": "https://api.becompliance.com/ext/v1/{app_key}/third-party-analysis"
          },
          "per_page": {
            "type": "integer",
            "example": 15
          },
          "to": {
            "type": "integer",
            "example": 15
          },
          "total": {
            "type": "integer",
            "example": 150
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Mensagem de erro",
            "example": "Unauthorized"
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "The given data was invalid."
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": {
              "name": ["O campo name é obrigatório."],
              "cnpj": ["O campo cnpj é obrigatório quando is_international não é true."]
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Third Party Analysis",
      "description": "Endpoints para gerenciamento de análises de terceiros (Due Diligence)"
    }
  ]
}
