{
  "openapi": "3.0.3",
  "info": {
    "title": "Be Compliance - API Externa",
    "description": "API externa do sistema Be Compliance para integrações de terceiros.\n\n## Visao Geral\n\nEsta API fornece funcionalidades para:\n- Gerenciamento de analises de terceiros (Due Diligence de Pessoas Juridicas)\n- Gerenciamento de pessoas fisicas para Due Diligence (BeNP)\n\n## Autenticacao\n\n### API de Pessoa Juridica (Third Party Analysis)\nUtilizada para endpoints `/ext/v1/{app_key}/third-party-analysis/*`.\n```\nAuthorization: Bearer <jwt_token>\n```\n\n### API de Pessoa Fisica (BeNP)\nUtilizada para endpoints `/ext/{key}/np/*`.\n```\nAuthorization: Bearer <api_key>\n```",
    "version": "1.0.0",
    "contact": {
      "name": "Be Compliance",
      "email": "suporte@becompliance.com",
      "url": "https://docs.becompliance.com"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.becompliance.com/ext/v1/{app_key}",
      "description": "Producao - Third Party Analysis (Pessoa Juridica)",
      "variables": {
        "app_key": {
          "description": "app_key da empresa"
        }
      }
    },
    {
      "url": "https://api-benp.becompliance.com",
      "description": "Producao - BeNP (Pessoa Fisica)"
    },
    {
      "url": "https://api-benp-staging.becompliance.com",
      "description": "Staging - BeNP (Pessoa Fisica)"
    }
  ],
  "tags": [
    {
      "name": "Third Party Analysis",
      "description": "Endpoints para gerenciamento de analises de terceiros - Pessoa Juridica (Due Diligence)"
    },
    {
      "name": "Natural Person",
      "description": "API para gerenciamento de pessoas fisicas (BeNP)"
    }
  ],
  "paths": {
    "/third-party-analysis": {
      "get": {
        "tags": ["Third Party Analysis"],
        "summary": "Listar analises de terceiros",
        "description": "Retorna uma lista paginada de analises de terceiros (diligencias) da empresa.",
        "operationId": "listThirdPartyAnalysis",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "description": "Numero de itens por pagina (maximo 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 15,
              "maximum": 100
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Numero da pagina",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "archived",
            "in": "query",
            "description": "Filtrar por status de arquivamento. Se nao informado, retorna apenas nao arquivadas.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["yes", "no"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de analises retornada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThirdPartyAnalysisPaginatedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Nao autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Sem permissao para listar analises",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Third Party Analysis"],
        "summary": "Criar nova analise de terceiro",
        "description": "Cria uma nova analise de terceiro (diligencia) e inicia o processo de consultas automatizadas.",
        "operationId": "createThirdPartyAnalysis",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateThirdPartyAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Analise criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThirdPartyAnalysisResponse"
                }
              }
            }
          },
          "401": {
            "description": "Nao autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Erro de validacao",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/third-party-analysis/{code}": {
      "get": {
        "tags": ["Third Party Analysis"],
        "summary": "Obter detalhes de uma analise",
        "description": "Retorna os detalhes de uma analise de terceiro especifica pelo codigo.",
        "operationId": "getThirdPartyAnalysis",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "Codigo unico da analise (formato: ddmmyyyyID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "010120241234"
          },
          {
            "name": "queries",
            "in": "query",
            "description": "Se 'true', retorna tambem os resultados das consultas realizadas",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["true", "false"],
              "default": "false"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes da analise retornados com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThirdPartyAnalysisDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Nao autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Sem permissao para visualizar a analise",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Analise nao encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Third Party Analysis"],
        "summary": "Atualizar analise de terceiro",
        "description": "Atualiza os dados de uma analise de terceiro existente.",
        "operationId": "updateThirdPartyAnalysis",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "Codigo unico da analise (formato: ddmmyyyyID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "010120241234"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateThirdPartyAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Analise atualizada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThirdPartyAnalysisResponse"
                }
              }
            }
          },
          "401": {
            "description": "Nao autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Sem permissao para editar a analise",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Analise nao encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Erro de validacao",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ext/{key}/np/": {
      "get": {
        "tags": ["Natural Person"],
        "summary": "Listar Pessoas Fisicas",
        "description": "Retorna uma lista paginada de pessoas fisicas cadastradas.",
        "operationId": "listNaturalPersons",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/KeyPath"
          },
          {
            "name": "np_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["internal", "external"]
            },
            "description": "Tipo de pessoa fisica"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Numero da pagina"
          },
          {
            "name": "code",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Codigo da due diligence"
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Nome da pessoa fisica (busca parcial)"
          },
          {
            "name": "cpf",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "CPF da pessoa (deve ser valido)"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["approved", "pending", "rejected"]
            },
            "description": "Status da due diligence"
          },
          {
            "name": "internal_identification",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Identificacao interna"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de pessoas fisicas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NaturalPersonListResponse"
                },
                "example": {
                  "data": [
                    {
                      "code": 12345,
                      "internal_identification": "EMP-001",
                      "name": "Joao da Silva",
                      "cpf": "123.456.789-01",
                      "process_status": "completed",
                      "status": "approved",
                      "automatic_risk": "low",
                      "risk": "low",
                      "notes": "Analise concluida",
                      "analysis_deadline": "2024-02-15",
                      "contract_value": 50000.00,
                      "created_at": "2024-01-10T14:30:00.000Z",
                      "updated_at": "2024-01-15T10:00:00.000Z"
                    }
                  ],
                  "meta": {
                    "page": 1,
                    "per_page": 20,
                    "total": 150
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": ["Natural Person"],
        "summary": "Criar Pessoa Fisica",
        "description": "Cria um novo registro de pessoa fisica para analise de Due Diligence.",
        "operationId": "createNaturalPerson",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/KeyPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNaturalPerson"
              },
              "example": {
                "cpf": "12345678901",
                "np_type": "external",
                "type": "fornecedor",
                "contract_value": 50000.00,
                "notes": "Novo fornecedor para analise",
                "internal_identification": "FORN-2024-001",
                "analysis_deadline": "2024-03-01"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pessoa fisica criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NaturalPersonDetail"
                },
                "example": {
                  "code": 12346,
                  "internal_identification": "FORN-2024-001",
                  "name": null,
                  "cpf": "123.456.789-01",
                  "process_status": "pending",
                  "status": "pending",
                  "automatic_risk": null,
                  "risk": null,
                  "notes": "Novo fornecedor para analise",
                  "analysis_deadline": "2024-03-01",
                  "contract_value": 50000.00,
                  "created_at": "2024-01-20T09:00:00.000Z",
                  "updated_at": "2024-01-20T09:00:00.000Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/ext/{key}/np/{code}": {
      "get": {
        "tags": ["Natural Person"],
        "summary": "Obter Pessoa Fisica por Codigo",
        "description": "Retorna os detalhes de uma pessoa fisica especifica pelo codigo.",
        "operationId": "getNaturalPersonByCode",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/KeyPath"
          },
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Codigo da due diligence"
          },
          {
            "name": "np_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["internal", "external"]
            },
            "description": "Tipo de pessoa fisica"
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes da pessoa fisica",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NaturalPersonDetail"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Token JWT para Third Party Analysis. Obtido atraves do endpoint de autenticacao."
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "Token de API para Pessoa Fisica (BeNP). Formato: `Bearer <api_key>`"
      }
    },
    "parameters": {
      "KeyPath": {
        "name": "key",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Chave da empresa"
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Nao autorizado - Token invalido ou ausente",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "message": "Token invalido ou expirado"
            }
          }
        }
      },
      "NotFound": {
        "description": "Recurso nao encontrado",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "message": "Recurso nao encontrado"
            }
          }
        }
      },
      "ValidationError": {
        "description": "Erro de validacao",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ValidationErrorResponse"
            },
            "example": {
              "message": "Validation Error",
              "data": {
                "cpf": ["CPF invalido"],
                "analysis_deadline": ["A data deve ser futura"]
              }
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string",
            "description": "Mensagem de erro",
            "example": "Unauthorized"
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "The given data was invalid."
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": {
              "name": ["O campo name e obrigatorio."],
              "cnpj": ["O campo cnpj e obrigatorio quando is_international nao e true."]
            }
          },
          "data": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Formato alternativo de erros de validacao (BeNP)"
          }
        }
      },
      "CreateThirdPartyAnalysisRequest": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Nome da empresa ou pessoa a ser analisada",
            "example": "Empresa Exemplo LTDA"
          },
          "cnpj": {
            "type": "string",
            "description": "CNPJ da empresa (obrigatorio se is_international for false)",
            "example": "12.345.678/0001-90"
          },
          "is_international": {
            "type": "boolean",
            "description": "Indica se e uma analise internacional (sem CNPJ)",
            "default": false
          },
          "alternative_names": {
            "type": "array",
            "description": "Nomes alternativos relacionados (maximo 3)",
            "maxItems": 3,
            "items": {
              "type": "string"
            },
            "example": ["Nome Fantasia", "Razao Social Anterior"]
          },
          "type": {
            "type": "string",
            "description": "Tipo de contrato (deve existir nos tipos cadastrados da empresa)",
            "example": "Fornecedor"
          },
          "tags": {
            "type": "array",
            "description": "Tags para categorizacao da analise",
            "items": {
              "type": "string"
            },
            "example": ["alta-prioridade", "fornecedor-critico"]
          },
          "solicitation_areas": {
            "type": "array",
            "description": "Areas solicitantes da analise",
            "items": {
              "type": "string"
            },
            "example": ["Compras", "Juridico"]
          },
          "expiry_date": {
            "type": "string",
            "format": "date",
            "description": "Data de expiracao da analise (deve ser posterior a data atual)",
            "example": "2025-12-31"
          },
          "analysis_deadline": {
            "type": "string",
            "format": "date",
            "description": "Prazo para conclusao da analise",
            "example": "2025-06-30"
          },
          "rerun_when_expired": {
            "type": "boolean",
            "description": "Reexecutar automaticamente quando expirar",
            "default": false
          },
          "notify_requester_only": {
            "type": "boolean",
            "description": "Notificar apenas o solicitante",
            "default": false
          },
          "search_serasa": {
            "type": "string",
            "description": "Tipo de consulta Serasa (requer habilitacao)",
            "enum": ["basic_pj", "advanced_pj"]
          },
          "search_courts_of_justice": {
            "type": "boolean",
            "description": "Realizar consulta em tribunais de justica",
            "default": false
          },
          "solicitation_user_email": {
            "type": "string",
            "format": "email",
            "description": "Email do usuario solicitante (deve ser usuario ativo da empresa)",
            "example": "usuario@empresa.com"
          },
          "search_international": {
            "type": "boolean",
            "description": "Realizar busca internacional (requer FTM habilitado)",
            "default": false
          },
          "viewers": {
            "$ref": "#/components/schemas/ResponsiblesObject"
          },
          "owners": {
            "$ref": "#/components/schemas/ResponsiblesObject"
          },
          "is_viewable": {
            "type": "boolean",
            "description": "Analise visivel para outros usuarios",
            "default": false
          },
          "action_plans": {
            "type": "array",
            "description": "Planos de acao associados",
            "items": {
              "type": "string"
            }
          },
          "search_google_parameters": {
            "type": "object",
            "description": "Parametros para busca no Google",
            "properties": {
              "sites": {
                "type": "array",
                "description": "Sites especificos para busca",
                "items": {
                  "type": "string"
                },
                "example": ["gov.br", "jusbrasil.com.br"]
              }
            }
          },
          "solicitation_area_detail": {
            "type": "string",
            "description": "Detalhes adicionais da area solicitante"
          }
        }
      },
      "UpdateThirdPartyAnalysisRequest": {
        "type": "object",
        "required": ["status"],
        "properties": {
          "status": {
            "type": "string",
            "description": "Status da analise",
            "enum": ["open", "analyze", "approved", "rejected"],
            "example": "approved"
          },
          "risk": {
            "type": "string",
            "description": "Classificacao de risco",
            "enum": ["very_low", "low", "medium", "high", "very_high"],
            "example": "low"
          },
          "expiry_date": {
            "type": "string",
            "format": "date",
            "description": "Data de expiracao da analise",
            "example": "2025-12-31"
          },
          "tags": {
            "type": "array",
            "description": "Tags para categorizacao",
            "items": {
              "type": "string"
            }
          },
          "solicitation_areas": {
            "type": "array",
            "description": "Areas solicitantes",
            "items": {
              "type": "string"
            }
          },
          "rerun_when_expired": {
            "type": "boolean",
            "description": "Reexecutar automaticamente quando expirar"
          },
          "viewers": {
            "$ref": "#/components/schemas/ResponsiblesObject"
          },
          "owners": {
            "$ref": "#/components/schemas/ResponsiblesObject"
          },
          "is_viewable": {
            "type": "boolean",
            "description": "Analise visivel para outros usuarios"
          },
          "action_plans": {
            "type": "array",
            "description": "Planos de acao associados",
            "items": {
              "type": "string"
            }
          },
          "notify_requester_only": {
            "type": "boolean",
            "description": "Notificar apenas o solicitante"
          },
          "solicitation_area_detail": {
            "type": "string",
            "description": "Detalhes adicionais da area solicitante"
          }
        }
      },
      "ResponsiblesObject": {
        "type": "object",
        "description": "Objeto de responsaveis (proprietarios ou visualizadores)",
        "properties": {
          "groups": {
            "type": "array",
            "description": "Nomes dos grupos",
            "items": {
              "type": "string"
            },
            "example": ["Compliance", "Juridico"]
          },
          "roles": {
            "type": "array",
            "description": "Nomes dos perfis/roles",
            "items": {
              "type": "string"
            },
            "example": ["compliance", "due_diligence"]
          },
          "ad_mapping_groups": {
            "type": "array",
            "description": "Nomes dos grupos de AD Mapping",
            "items": {
              "type": "string"
            }
          },
          "users": {
            "type": "array",
            "description": "Emails dos usuarios",
            "items": {
              "type": "string",
              "format": "email"
            },
            "example": ["usuario1@empresa.com", "usuario2@empresa.com"]
          }
        }
      },
      "ThirdPartyAnalysisResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ThirdPartyAnalysis"
          }
        }
      },
      "ThirdPartyAnalysisDetailResponse": {
        "type": "object",
        "properties": {
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ThirdPartyAnalysis"
              },
              {
                "type": "object",
                "properties": {
                  "queries": {
                    "$ref": "#/components/schemas/ThirdPartyAnalysisQueries"
                  }
                }
              }
            ]
          }
        }
      },
      "ThirdPartyAnalysisPaginatedResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ThirdPartyAnalysis"
            }
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          },
          "meta": {
            "$ref": "#/components/schemas/ThirdPartyPaginationMeta"
          }
        }
      },
      "ThirdPartyAnalysis": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Codigo unico da analise (formato: ddmmyyyyID)",
            "example": "010120241234"
          },
          "name": {
            "type": "string",
            "description": "Nome da empresa/pessoa analisada",
            "example": "Empresa Exemplo LTDA"
          },
          "cnpj": {
            "type": "string",
            "description": "CNPJ da empresa (null para analises internacionais)",
            "example": "12345678000190"
          },
          "process_status": {
            "type": "string",
            "description": "Status do processamento das consultas",
            "enum": ["open", "finished", "error", "waiting_approval", "reproved", "finished_consults"],
            "example": "finished"
          },
          "status": {
            "type": "string",
            "description": "Status da analise definido pelo usuario",
            "enum": ["open", "analyze", "approved", "rejected"],
            "example": "approved"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Data de criacao",
            "example": "2024-01-15 10:30:00"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Data da ultima atualizacao",
            "example": "2024-01-20 14:45:00"
          },
          "risk": {
            "type": "string",
            "nullable": true,
            "description": "Classificacao de risco atribuida",
            "enum": ["very_low", "low", "medium", "high", "very_high", null],
            "example": "low"
          },
          "automatic_risk": {
            "type": "string",
            "nullable": true,
            "description": "Risco calculado automaticamente pelo sistema"
          },
          "expiry_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Data de expiracao da analise",
            "example": "2025-12-31"
          },
          "archived": {
            "type": "string",
            "description": "Status de arquivamento",
            "enum": ["yes", "no"],
            "example": "no"
          },
          "notes": {
            "type": "array",
            "description": "Notas/observacoes da analise",
            "items": {
              "$ref": "#/components/schemas/ThirdPartyAnalysisNote"
            }
          },
          "report_pdf": {
            "type": "string",
            "nullable": true,
            "description": "URL do relatorio PDF gerado",
            "example": "https://storage.becompliance.com/reports/analysis_123.pdf"
          },
          "type": {
            "type": "string",
            "nullable": true,
            "description": "Tipo de contrato",
            "example": "Fornecedor"
          },
          "beforms_integration_tokens": {
            "type": "array",
            "nullable": true,
            "description": "Tokens de integracao com BeForms"
          },
          "solicitation_approver_comment": {
            "type": "string",
            "nullable": true,
            "description": "Comentario do aprovador da solicitacao"
          }
        }
      },
      "ThirdPartyAnalysisNote": {
        "type": "object",
        "properties": {
          "note": {
            "type": "string",
            "description": "Conteudo da nota",
            "example": "Analise concluida sem pendencias."
          },
          "user": {
            "type": "object",
            "nullable": true,
            "description": "Usuario que criou a nota",
            "properties": {
              "name": {
                "type": "string",
                "example": "Joao Silva"
              },
              "email": {
                "type": "string",
                "format": "email",
                "example": "joao.silva@empresa.com"
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2024-01-15 10:30:00"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2024-01-15 10:30:00"
          },
          "is_public": {
            "type": "string",
            "description": "Se a nota e publica",
            "enum": ["yes", "no"]
          },
          "is_system": {
            "type": "string",
            "description": "Se a nota foi gerada pelo sistema",
            "enum": ["yes", "no"]
          }
        }
      },
      "ThirdPartyAnalysisQueries": {
        "type": "object",
        "description": "Resultados das consultas realizadas (retornado apenas quando queries=true)",
        "properties": {
          "receita_federal": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "trabalho_escravo": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "cnep": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "csnu": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "pgfn": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "ieptb": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "ceis": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "cepim": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "pep_onu": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "pep_mp": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "pep_rf": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "google": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "chatgpt": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "ofac": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "leniencia": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "mte_processos": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "cndt": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "cnj_improbidade": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "trf1": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "trf2": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "trf3": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "trf4": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "trf5": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "trf6": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "interpol": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "serasa": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "judit": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "government_debts": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "company_datasets": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "fgts_certificate": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "pep_secondary": {
            "$ref": "#/components/schemas/QueryResult"
          },
          "ibama_embargos": {
            "$ref": "#/components/schemas/QueryResult"
          }
        }
      },
      "QueryResult": {
        "type": "object",
        "nullable": true,
        "description": "Resultado de uma consulta especifica",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status da consulta"
          },
          "data": {
            "type": "object",
            "description": "Dados retornados pela consulta"
          },
          "consulted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Data/hora da consulta"
          }
        }
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "first": {
            "type": "string",
            "example": "https://api.becompliance.com/ext/v1/{app_key}/third-party-analysis?page=1"
          },
          "last": {
            "type": "string",
            "example": "https://api.becompliance.com/ext/v1/{app_key}/third-party-analysis?page=10"
          },
          "prev": {
            "type": "string",
            "nullable": true
          },
          "next": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ThirdPartyPaginationMeta": {
        "type": "object",
        "properties": {
          "current_page": {
            "type": "integer",
            "example": 1
          },
          "from": {
            "type": "integer",
            "example": 1
          },
          "last_page": {
            "type": "integer",
            "example": 10
          },
          "path": {
            "type": "string",
            "example": "https://api.becompliance.com/ext/v1/{app_key}/third-party-analysis"
          },
          "per_page": {
            "type": "integer",
            "example": 15
          },
          "to": {
            "type": "integer",
            "example": 15
          },
          "total": {
            "type": "integer",
            "example": 150
          }
        }
      },
      "NaturalPersonListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NaturalPersonDetail"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/NaturalPersonPaginationMeta"
          }
        }
      },
      "NaturalPersonPaginationMeta": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Pagina atual"
          },
          "per_page": {
            "type": "integer",
            "description": "Itens por pagina"
          },
          "total": {
            "type": "integer",
            "description": "Total de registros"
          }
        }
      },
      "NaturalPersonDetail": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "Codigo unico da due diligence"
          },
          "internal_identification": {
            "type": "string",
            "description": "Identificacao interna definida pelo cliente"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Nome completo da pessoa fisica"
          },
          "cpf": {
            "type": "string",
            "description": "CPF formatado"
          },
          "process_status": {
            "type": "string",
            "description": "Status do processo de analise"
          },
          "status": {
            "type": "string",
            "description": "Status da due diligence"
          },
          "automatic_risk": {
            "type": "string",
            "nullable": true,
            "description": "Risco calculado automaticamente pelo sistema"
          },
          "risk": {
            "type": "string",
            "nullable": true,
            "description": "Risco final atribuido"
          },
          "notes": {
            "type": "string",
            "nullable": true,
            "description": "Observacoes sobre a analise"
          },
          "analysis_deadline": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Prazo para conclusao da analise"
          },
          "contract_value": {
            "type": "number",
            "nullable": true,
            "description": "Valor do contrato associado"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Data de criacao do registro"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Data da ultima atualizacao"
          }
        }
      },
      "CreateNaturalPerson": {
        "type": "object",
        "required": ["cpf", "np_type"],
        "properties": {
          "cpf": {
            "type": "string",
            "description": "CPF valido (apenas numeros ou formatado)"
          },
          "np_type": {
            "type": "string",
            "enum": ["internal", "external"],
            "description": "Tipo: internal (colaborador) ou external (terceiro)"
          },
          "type": {
            "type": "string",
            "description": "Tipo/categoria da pessoa fisica (ex: fornecedor, cliente)"
          },
          "contract_value": {
            "type": "number",
            "description": "Valor do contrato associado"
          },
          "notes": {
            "type": "string",
            "description": "Observacoes sobre o registro"
          },
          "internal_identification": {
            "type": "string",
            "description": "Identificacao interna do cliente"
          },
          "analysis_deadline": {
            "type": "string",
            "format": "date",
            "description": "Prazo para analise (deve ser data futura, formato: YYYY-MM-DD)"
          }
        }
      }
    }
  }
}
